@import "tailwindcss";

@layer base {
  html,
  body {
    @apply m-0 p-0 w-screen h-screen box-border overflow-hidden font-misans;
  }

  img {
    image-rendering: pixelated;
  }

  .slick-slider {
    @apply w-[120px]
  }

  .slick-list img {
    @apply object-contain px-2
  }

  @font-face {
    font-family: "MiSansLatin";
    font-weight: normal;
    src: url("/fonts/MiSansLatin-Normal.ttf") format("truetype");
  }

  @font-face {
    font-family: "MiSansLatin";
    font-weight: 500;
    src: url("/fonts/MiSansLatin-Medium.ttf") format("truetype");
  }

  @font-face {
    font-family: "MiSansLatin";
    font-weight: 600;
    src: url("/fonts/MiSansLatin-Semibold.ttf") format("truetype");
  }

  @font-face {
    font-family: Retro;
    src: url("/fonts/Retro Gaming.ttf") format("truetype");
  }
}

@theme {
  --font-misans: "MiSansLatin";
}
